@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-zinc-100 antialiased;
}

@layer components {
  .use-scroll {
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-black/40 scrollbar-thumb-rounded-full;
  }

  .use-shadow {
    @apply border-2 border-black/10 bg-black/50 shadow-black/10 transition-shadow hover:shadow;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .spinner {
    animation: spinicon 2s linear infinite;
    transform-origin: center;
  }

  .spinner circle {
    stroke-linecap: round;
    animation: spiniconoff 1.5s ease-in-out infinite;
  }
}

@keyframes spinicon {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spiniconoff {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }
  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}
